extends tmpl/_layout

block vars
	- var pageId = 'main'

block body
	section.top-block.mb-indent
		.st-width
			.top-block__wrap
				.container
					.row
						.col-12
							.top-block__content
								.top-block__title
									h1 Персонал и&nbsp;сервис под ключ

								.top-block__info
									p Клининг для бизнеса: опытный персонал без текучек с ежедневной гарантией результата

									ul.list-color
										li Опытный персонал без текучек
										li С ежедневной гарантией результата

							form.form-line
								.form-line__content
									.form-line__field
										select.js-select
											option(value="") Тип объекта
											option(value="flat") Квартира
											option(value="hous") Дом

									.form-line__field
										input(type="text", name="area", placeholder="Площадь, m2")

									.form-line__field
										input.js-phone(type="text", name="phone", placeholder="+7 (999) 455 75 94")

									button(type="submit").btn заказать звонок

								.form-line__note
									+svg('ic-clock','ic-clock', '21', '21')
									|Свяжемся с вами в течение 10 минут

	section.services-block-wrap.m-indent
		.container
			.row
				.col-12
					.h4 Услуги
					h2 Клининг 
						span.d-none.d-md-inline для бизнеса

					ul.tags
						-
							var list=[
								{text:'все', status:'active'},
								{text:'регулярная уборка'},
								{text:'объекты'},
								{text:'мытьё и фасады'},
								{text:'химчистка и мебель'},
								{text:'Территория'},
							]
						each item in list
							li.tags__item(class=item.status?' active':'')
								a(href="#").tags__link= item.text

		.container
			.row
				.col-12
					.services-block-list
						-
							var list=[
								{img:'service.jpg', title:'Комплексное обслуживание мест общего пользования', text:'Регулярная уборка и поддержание чистоты в холлах, лифтах, коридорах и других общих зонах.'},
								{img:'service.jpg', title:'Комплексное обслуживание', text:'Регулярная уборка и поддержание чистоты в холлах.'},
								{img:'service.jpg', title:'Комплексное обслуживание мест общего пользования', text:'Регулярная уборка и поддержание чистоты в холлах, лифтах, коридорах и других общих зонах.'},
								{img:'service.jpg', title:'Комплексное обслуживание мест общего пользования', text:'Регулярная уборка и поддержание чистоты в холлах, лифтах, коридорах и других общих зонах.'},
								{img:'service.jpg', title:'Комплексное обслуживание мест общего пользования', text:'Регулярная уборка и поддержание чистоты в холлах, лифтах, коридорах и других общих зонах.'},
								{img:'service.jpg', title:'Комплексное обслуживание мест общего пользования', text:'Регулярная уборка и поддержание чистоты в холлах, лифтах, коридорах и других общих зонах.'},
							]
						each item in list
							.services-block
								a(href="#").services-block__img-wrap
									.services-block__img
										img(src="/upload/"+item.img, alt="")

								.services-block__content
									.services-block__info
										.services-block__title
											a(href="#")= item.title

										.services-block__text= item.text

									.services-block__bottom
										.services-block__price
											.services-block__price-icon
												+svg('ic-clean','ic-clean', '26', '26')

											span От 30 руб/м<sup>2</sup>

										a(href="#").btn.btn_small заказать
											+svg('ic-arrow-diagonal','ic-arrow-diagonal', '19', '19')

			.row
				.col-12
					.services-block-list__btn
						a(href="#").btn.btn_border.btn_big смотреть все

	hr

	section.info-wrap.m-indent
		.container
			.row
				.col-12
					.h4 опыт в Horeca

			.row
				.col-lg-6
					h2 персонал и сервис 
						span.text-color под ваш стандарт

				.col-lg-6
					.info-wrap__text
						p Клининг для бизнеса: опытный персонал без текучек с ежедневной гарантией результата

		.info-list
			.container
				.row
					-
						var list=[
							{img:'hotels.jpg', title:'Гостиницы и отели', text:'Опытный персонал под ключ'},
							{img:'flats.jpg', title:'Апартаменты и жилые дома', text:'Комплексное обслуживание зон и контроль '},
						]
					each item, index in list
						.col-md-6
							a(href="#").info-item
								.info-item__bg-wrap
									.info-item__bg
										img(src="/upload/"+item.img, alt="")

								.info-item__content
									.info-item__info
										.info-item__title
											if(index == 0)
												|Гостиницы 
												br
												|и отели

											if(index == 1)
												|Апартаменты 
												br
												|и жилые дома

										.info-item__text= item.text

									.info-item__arr
										+svg('ic-arrow-right','ic-arrow-right', '27', '50')
	
	section.about-wrap.bg-color.m-indent
		.container
			.row
				.col-12
					.h4 О компании

					h2 Как мы работаем

		.about
			.container
				.row
					.col-lg-6.order-2
						.about__sect
							p
								b «Персонал Сервис» 
								| — международная компания с 18-летним опытом в сфере клининга, инжиниринга, благоустройства и аутсорсинга персонала.

							p Мы — надёжный партнёр  в уборке и сервисе для гостиниц, ЖК, ресторанов, бизнес-центров и предприятий Санкт-Петербурга.

							.about-data
								.about-data__item
									.about-data__val 1 200 000m2

									.about-data__label
										|уборки 
										br
										|ежедневно

								.about-data__item
									.about-data__val 180 000 

									.about-data__label
										|убранных номеров
										br
										|в 2024 году

						.about__sect
							.about__title Наша миссия

							p Мы берём на себя полный контроль персонала, чтобы вы могли сосредоточиться на бизнесе

							a(href="#", data-fancybox, data-src="#callback").btn.btn_big.d-lg-none Связаться с нами

					.col-lg-6.order-1
						.main-person
							.main-person__content
								.main-person__top
									.main-person__img
										img(src="/upload/woman.jpg", alt="")

									.main-person__info
										.main-person__name Ирина плотникова
										.main-person__post Генеральный директор

								.main-person__text Ваш бизнес всегда будет обеспечен нужными людьми — быстро и профессионально

							a(href="#", data-fancybox, data-src="#callback").btn.btn_big.d-none.d-lg-inline-flex Связаться с нами

		.container
			.row
				.col-12
					.partners
						-
							var list=[
								{img:'partner1.png'},
								{img:'partner2.png'},
								{img:'partner3.png'},
								{img:'partner4.png'},
								{img:'partner5.png'},
							]
						each item in list
							.partners__item
								img(src="/upload/"+item.img, alt="")

	section.advantage-wrap.m-indent
		.container
			.row
				.col-lg-4.col-xl-6.d-flex.align-items-center
					.advantage-wrap__content
						.h4 Отличия

						h2 Что принесёт результат?

						.d-none.d-md-block
							p Отдел экспресс-подбора на связи 24/7, а менеджер гарантирует уникальные решения под объём и специфику

							a(href="#", data-fancybox, data-src="#callback").btn.btn_big Оставить заявку

				.col-lg-8.col-xl-6
					.advantage-wrap__info
						.advantage-info
							.advantage-info__title Персональный менеджер 24/7

							.advantage-info__text Не следите за графиками, заменами и качеством. Поручите это менеджеру, который постоянно будет на объекте

						.advantage-img
							.advantage-img__content
								img(src="/upload/about.jpg", alt="")

					.advantages-list
						-
							var list=[
								{title:'обученный персонал', text:'Горничные, уборщики, официанты — в форме, с медкнижками, без текучки'},
								{title:'прозрачная работа', text:'Документы, фотоотчёты, табели — всё по договору и без скрытых доплат'},
								{title:'срочные выезды', text:'Оперативное реагирование и выход сотрудников круглосуточно в случае аварийных ситуаций'},
								{title:'комфорт гостей', text:'Создаём ощущение уюта, порядка и статуса на объекте: лобби, номер, офис, зелёные зоны'},
							]
						each item in list
							.advantage-item
								.advantage-item__top
									.advantage-item__icon
										+svg('ic-clean','ic-clean', '26', '26')

									.advantage-item__title= item.title

								.advantage-item__text= item.text


					.d-md-none
						a(href="#", data-fancybox, data-src="#callback").btn.btn_big Оставить заявку

	section.steps-wrap.bg-grey.m-indent
		.container
			.row
				.col-12
					.h4 Этапы работы

					h2 Ваш путь 
						span.d-none.d-md-inline с «Персонал Сервис»

					.person-info
						.person-info__msg Я выезжаю на объект для точной оценки объёма работы и ответов на ваши вопросы. Это бесплатно

						.person-info__main
							.person-info__ava
								img(src="/upload/man.jpg", alt="")
							
							.person-info__name Олег Промыслов
							.person-info__post Персональный менеджер

							a(href="#", data-fancybox, data-src="#callback").btn.btn_small
								+svg('ic-call','ic-call', '26', '26')
								|позвоните мне

					.steps
						.steps__list
							.steps__item.js-steps-item
								.steps__num 1
								.steps__label
									|оцените объём работы
									br
									|с менеджером

							.steps__item.js-steps-item
								.steps__num 2
								.steps__label
									|зафиксируйте цену
									br
									|на услуги

							.steps__item.js-steps-item
								.steps__num 3
								.steps__label
									|получайте ежедневные
									br
									|фотоотчёты

							.steps__item.js-steps-item
								.steps__num 4
								.steps__label
									|оперативно
									br
									|увеличивайте команду

							.steps__item.js-steps-item
								.steps__num 5
								.steps__label
									|оплачивайте работу
									br
									|только после приёмки
						
						.steps__btn
							a(href="#", data-fancybox, data-src="#callback").btn.btn_big связаться с нами

	section.projects-wrap.mt-indent
		.container
			.row
				.col-12
					.projects-wrap__top
						h2 Клиенты

						.slider-arr-list
							.swiper-button-prev.slider-arr.js-projects-slider-prev
								+svg('ic-arrow-left','ic-arrow-left', '27', '50')
							
							.swiper-button-next.slider-arr.js-projects-slider-next
								+svg('ic-arrow-right','ic-arrow-right', '27', '50')

					ul.tags
						-
							var list=[
								{text:'все'},
								{text:'бизнес-центры', status:'active'},
								{text:'гостиницы'},
								{text:'жилые комплексы'},
								{text:'парки'},
								{text:'дворовые территории'},
							]
						each item in list
							li.tags__item(class=item.status?' active':'')
								a(href="#").tags__link= item.text

		.swiper.projects-slider.js-projects-slider
			.swiper-wrapper
				-
					var list=[
						{
							img:'project1.jpg',
							title:'valo',
							tags:[
								'30 сотрудников',
								'с 2022 года',
								'комплексное обслуживание',
							]
						},
						{
							img:'project2.jpg',
							title:'балтийская жемчужина',
							tags:[
								'с 2019 года',
								'350 апартаментов',
								'54 сотрудника',
								'уход за территорией',
							]
						},
						{
							img:'project3.jpg',
							title:'WONE HOTELS',
							tags:[
								'80 сотрудников',
								'с 2011 года',
								'предоставление персонала',
							]
						},
						{
							img:'project3.jpg',
							title:'WONE HOTELS',
							tags:[
								'80 сотрудников',
								'с 2011 года',
								'предоставление персонала',
							]
						},
						{
							img:'project2.jpg',
							title:'балтийская жемчужина',
							tags:[
								'с 2019 года',
								'350 апартаментов',
								'54 сотрудника',
								'уход за территорией',
							]
						},
						{
							img:'project3.jpg',
							title:'WONE HOTELS',
							tags:[
								'80 сотрудников',
								'с 2011 года',
								'предоставление персонала',
							]
						},
					]
				each item in list
					.swiper-slide.projects-item
						.projects-item__img-wrap
							.projects-item__img
								img(src="/upload/"+item.img, alt="")

						.projects-item__content
							.projects-item__title= item.title

							.projects-item-tags
								each tag in item.tags
									.projects-item-tags__item= tag


	section.faq-wrap.m-indent
		.container
			.row
				.col-12
					h2 вопросы

					-
						var list=[
							{num:'01/', title:'Какие моющие средства и технику используете?', text:'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.'},
							{num:'02/', title:'Как трудоустроены сотрудники?', text:'Текст'},
							{num:'03/', title:'какие помещения вы убираете?', text:'Текст'},
							{num:'04/', title:'Какие моющие средства и технику используете?', text:'Текст'},
							{num:'05/', title:'Какие моющие средства и технику используете?', text:'Текст'},
						]
					each item in list
						.unwrap-block.js-unwrap-block
							.unwrap-block__head.js-unwrap-head
								span.unwrap-block__num= item.num
								= item.title
								.unwrap-block__arr
									+svg('ic-arrow-down','ic-arrow-down', '52', '28')
							.unwrap-block__content.js-unwrap-content
								.unwrap-block__info.js-unwrap-info= item.text

					.faq-wrap__btn
						a(href="#").btn.btn_big.btn_border смотреть все

	section.main-contacts.mt-indent.last-elem
		.container
			.row
				.col-12
					.main-contacts__wrap
						.main-contacts__content
							.main-contacts__title найдите персонал уже сегодня
							.main-contacts__text Оперативный клининг: без текучки, без накладок, с ежедневной гарантией результата

						.contacts-block
							.contacts-block__call
								+svg('ic-call','ic-call', '52', '52')

							.contacts-block__title набрать персонал

							.contacts-block__list
								a(href="tel:+79994557594").contacts-block__item
									.contacts-block__icon
										+svg('ic-call','ic-call', '26', '26')

									.contacts-block__val +7 (999) 455 75 94

								a(href="#").contacts-block__item.contacts-block__item_green
									.contacts-block__icon
										+svg('ic-whatsapp','ic-whatsapp', '32', '32')

									.contacts-block__val Связаться в What’s App

								a(href="#").contacts-block__item.contacts-block__item_blue
									.contacts-block__icon
										+svg('ic-telegram','ic-telegram', '32', '32')

									.contacts-block__val Связаться в Telegram